/*import library for font-awesome icons*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*import fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:300|Plaster');


* {
  box-sizing: border-box;
  /*border: 1px dotted black;*/
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: #43A5CF;
  transition-duration: .4s;
}

a:active {
  color: #215267;
}


nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 10vh;
  background-color: rgba(255,255,255,.9);
  z-index: 1;
}

nav:hover {
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  transition-duration: .4s;
  background-color: white;
}

nav div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  padding: 1vh 1vw;
}

nav div span {
  display: block;
  padding: 0 1vw;
}

nav div span:hover {
  color: #43A5CF;
  transition-duration: .4s;
}

article {
  padding: 2.5vh 2.5vw;
  height: 90vh;
  margin-top: 10vh;
  font-size: 3.5vmin;
}

/*single view styles*/

/*.single-article {
  height: 100vh;
  padding: 2.5vh 2.5vw;
}*/

#welcome {
  background-image: url('../img/coffee-bw.jpg');
  /*img source: https://pixabay.com/en/coffee-coffee-cup-cup-of-coffee-1911764/*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-top: 0;
}

#welcome h1 {
  display: block;
  font-size: 4.5vw;
  /*font-family: 'Plaster', cursive;*/
  margin: 50vh auto;
  border-top: 1px solid black;
  display: inline-block;
  padding-right: 4.5vw;
}

#welcome i {
  font-size: 2.5vw;
  position: absolute;
  bottom: 2.5vh;
  left: 0;
  width: 100%;
  text-align: center;
}

#promt {
  text-align: center;
}

#promt h1 {
  margin: 40vh auto;
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1vh 1vw;
}

#promt h1:hover {
  background-color: #43A5CF;
  color: white;
  transition-duration: .4s;
  border: 1px solid #43A5CF;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

#promt h1:active {
  background-color: #215267;
  border: 1px solid #215267;
}

/*split screen styles*/

.split-screen {
  display: flex;
  flex-flow: row wrap;
}

.statistics {
  width: 50%;
  background-color: #f6f6f6;
  background: -webkit-linear-gradient(white, #f6f6f6, #f6f6f6);
  background: -o-linear-gradient(white, #f6f6f6, #f6f6f6);
  background: -moz-linear-gradient(white, #f6f6f6, #f6f6f6);
  background: linear-gradient(white, #f6f6f6, #f6f6f6);
  border-left: 1vmin solid white;
}

.user-data {
  width: 50%;
  border-right: 1vmin solid white;
}

/*.split-screen article {
  padding: 2.5vh 2.5vw;
  min-height: 90vh;
}*/

#cupGraphic {
  display: flex;
  flex-direction: column;
}

#cupGraphic > div {
  flex: 1;
  flex-flow: row nowrap;
  display: flex;
  align-items: flex-end;
  margin-top: 3vh;
  justify-content: space-around;
}


#ladyLiberty {
  background-image: url('../smashing-freebie-touristic-icon-set/SVG/26.svg');
  height: 100%;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

#ladyLiberty span {
  display: inline-block;
  width: 50%;
  font-size: 2vmin;
  position: absolute;
  top: -2.5vmin;
  left: 25%;
  border-bottom: 2px solid deeppink;
  text-align: center;
}

#paperCupTower {
  width: 10%;
  min-height: 0;
  max-height: 100%;
  height: 0;
  background-image: url('../barista-icon-set/SVG/barista-icons_coffee-to-go.svg');
  background-repeat: space;
  background-position: bottom center;
  background-size: contain;
  border-left: 1vmin solid white;
  position: relative;
}

#paperCupTowerLabel {
  font-size: 2vmin;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: -2.5vmin;
  left: 0;
}

.percentageSmaller100 {
  border-bottom: 2px solid deeppink;
}

.percentageGreater100 {
  border-bottom: 0;
  border-top: 2px solid deeppink;
  background: -webkit-linear-gradient(rgba(255,20,147,.3), rgba(255,20,147,0));
  background: -o-linear-gradient(rgba(255,20,147,.3), rgba(255,20,147,0));
  background: -moz-linear-gradient(rgba(255,20,147,.3), rgba(255,20,147,0));
  background: linear-gradient(rgba(255,20,147,.15), rgba(255,20,147,0));
}

.one-line-form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 2vh 1vw;
  font-size: 2vmin;
  align-items: center;
}

.one-line-form input {
  font-family: 'Lato', sans-serif;
  font-size: 2vmin;
}

#paper-cups-form {
  width: 7vmin;
}

.one-line-form input[type="submit"] {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1vh 1vw;
  background-color: white;
}

.one-line-form input[type="submit"]:hover {
  background-color: #43A5CF;
  color: white;
  transition-duration: .3s;
  border: 1px solid #43A5CF;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3vmin;
}

#paper-cup-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
}

@media (max-width: 768px) {
  .statistics {
    width: 100%
  }

  .user-data {
    width: 100%;
  }

  #ladyLiberty {
    background-size: cover;
  }
}
