/*import library for font-awesome icons*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*import fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:300|Plaster');


* {
  box-sizing: border-box;
  /*border: 1px dotted black;*/
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

a {
  color: black;
}

a:hover {
  color: #43A5CF;
  transition-duration: .4s;
}

a:active {
  color: #215267;
}


nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 12vh;
  background-color: rgba(255,255,255,.96);
  z-index: 1;
}

nav:hover {
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  transition-duration: .4s;
  background-color: white;
}

nav div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  padding: 1vh 1vw;
}

nav div span {
  display: block;
  padding: 0 1vw;
}

nav div span:hover {
  color: #43A5CF;
  transition-duration: .4s;
}

article {
  padding: 2.5vh 2.5vw;
  height: 90vh;
  margin-top: 12vh;
}


#welcome {
  background-image: url('../img/coffee-bw.jpg');
  /*img source: https://pixabay.com/en/coffee-coffee-cup-cup-of-coffee-1911764/*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-top: 0;
}

#welcome h1 {
  display: block;
  font-size: 4.5vw;
  margin: 50vh auto;
  border-top: 1px solid black;
  display: inline-block;
  padding-right: 4vw;
}

#welcome h1 i {
  font-size: 3vw;
  color: rgb(217,33,40);
}

#arrow i {
  font-size: 2.5vw;
  position: absolute;
  bottom: 2.5vh;
  left: 0;
  width: 100%;
  text-align: center;
}

#promt {
  text-align: center;
}

#promt h1 {
  margin: 40vh auto;
  display: inline-block;
  border: 1px solid #43A5CF;
  border-radius: 3px;
  padding: 1vh 1vw;
  color: #43A5CF;
}

#promt h1:hover {
  background-color: #43A5CF;
  color: white;
  transition-duration: .4s;
  border: 1px solid #43A5CF;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

#promt h1:active {
  background-color: #215267;
  border: 1px solid #215267;
}

/*split screen styles*/

.split-screen {
  display: flex;
  flex-flow: row wrap;
}

.statistics {
  width: 50%;
  border-left: 1vmin solid white;
  background-color: #fcfcfc;
  border-top: 5px solid white;
}

.statistics:first-of-type{
  background-color: #fcfcfc;
  background: -webkit-linear-gradient(white, #f6f6f6, #f6f6f6);
  background: -o-linear-gradient(white, #f6f6f6, #f6f6f6);
  background: -moz-linear-gradient(white, #f6f6f6, #f6f6f6);
  background: linear-gradient(white, #fcfcfc, #fcfcfc);
}

.user-data {
  border-top: 5px solid white;
  width: 50%;
  border-right: 1vmin solid white;
  border-top: 5px solid white;
}

/*.split-screen article {
  padding: 2.5vh 2.5vw;
  min-height: 90vh;
}*/

#cupGraphic {
  display: flex;
  flex-direction: column;
}

#cupGraphic > div {
  flex: 1;
  flex-flow: row nowrap;
  display: flex;
  align-items: flex-end;
  margin-top: 3vh;
  justify-content: space-around;
}


#ladyLiberty {
  /*background-image: url('../smashing-freebie-touristic-icon-set/SVG/26.svg');*/
  background-image: url('../img/red-usa-statue-of-liberty-by-Vexels.svg');
  height: 100%;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  /*<a target="_blank" href="https://www.vexels.com/vectors/preview/128622/red-usa-statue-of-liberty"> Red usa statue of liberty </a> |   Designed by Vexels.com*/
}

#ladyLiberty span {
  display: inline-block;
  width: 50%;
  position: absolute;
  top: -2.5vmin;
  left: 25%;
  border-bottom: 2px solid #191919;
  text-align: center;
  font-size: .8em;
}

#paperCupTower {
  width: 10%;
  min-height: 0;
  max-height: 100%;
  height: 0;
  background-image: url('../barista-icon-set/SVG/barista-icons_coffee-to-go.svg');
  background-repeat: space;
  background-position: bottom center;
  background-size: contain;
  border-left: 1vmin solid white;
  position: relative;
}

#paperCupTowerLabel {
  width: 100%;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: -2.5vmin;
  left: 0;
  background-color: white;
  font-size: .8em;
}

.percentageSmaller100 {
  border-bottom: 2px solid #191919;
}

.percentageGreater100 {
  border-bottom: 0;
  border-top: 1px dashed #191919;
  background: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));
  background: -o-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));
  background: -moz-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));
}

.one-line-form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 2vh 1vw;
  align-items: center;
}

.one-line-form input {
  font-family: 'Lato', sans-serif;
  border: 1px solid #43A5CF;
  border-radius: 3px;
  padding: .5vh .5vw;
  font-size: .8em;
}

input[type="number"] {
  padding: .5vh 0 .5vh .5vw;
}

#paper-cups-form {
  width: 7vmin;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

#paper-cup-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
}

#paper-cup-stat small {
  font-size: .5em;
}

.coffee-input-forms {
  background-color: #efefef;
  width: 50%;
  margin: 0 auto;
  padding: 3vh 2vw;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.coffee-input-forms fieldset {
  border: 3px solid white;
  padding: 2vh 2vw;
  font-size: .9em;
}

.coffee-input-forms fieldset legend {
  text-transform: uppercase;
  font-size: .8em;
}

.coffee-input-forms fieldset label {
  width: 30%;
  margin: 1vh auto 0 auto;
  display: inline-block;
}

.coffee-input-forms fieldset select {
  width: 60%;
  margin: 1vh auto 0 auto;
  display: inline-block;
  font-size: .9em;
}

.coffee-input-forms fieldset input:not(.submit):not([type="number"]) {
  width: 60%;
  margin: 1vh auto 0 auto;
  display: inline-block;
  font-size: .9em;
  font-family: 'Lato', sans-serif;
}

/*.coffee-input-forms input[type="checkbox"] {
  margin: 2vh auto;
  display: inline-block;
  border: 5px solid deeppink;
}*/

.coffee-input-forms input[type="number"] {
  margin: 1vh auto 0 auto;
  display: inline-block;
  font-size: .9em;
}

.coffee-input-forms fieldset input[type="submit"] {
  margin: 1vh auto 0 auto;
  display: block;
  font-size: .9em;
}

.coffee-input-form-labels {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

.coffee-input-form-labels li {
  list-style: none;
  padding: 1vh 2vw;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-right: .5vw;
}

.coffee-input-form-labels li:not(.selected) {
  background-color: #e1e1e1;
}

.coffee-input-form-labels li:not(.selected):hover {
  background-color: #43A5CF;
  color: white;
}

.selected {
  background-color: #efefef;
  text-shadow: 1px 1px 3px #ccc;
}

@media (max-width: 768px) {
  .statistics {
    width: 100%
  }

  .user-data {
    width: 100%;
  }
}

.submit {
  font-family: 'Lato', sans-serif;
}

.submit {
  border: 1px solid #43A5CF;
  border-radius: 3px;
  padding: 1vh 1vw;
  background-color: transparent;
  color: #43A5CF;
  text-transform: uppercase;
  padding: .5vh .5vw;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

.submit:hover {
  background-color: #43A5CF;
  color: white;
  transition-duration: .3s;
  border: 1px solid #43A5CF;
}

.submit:active {
  background-color: #215267;
  box-shadow: none;
}

#profile-options {
  margin-top: 12vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1vh 1vw;
  /*background: -webkit-linear-gradient(#efefef, white);
  background: -o-linear-gradient(#efefef, white);
  background: -moz-linear-gradient(#efefef, white);
  background: linear-gradient(#f9f9f9, white);*/
  font-size: .9em;
  border-top: 1px solid #efefef;
  text-transform: uppercase;
}

.profile-options-labels {
  padding: 1vh 2vw;
}

.profile-options-labels:hover {
  transform: scale(1.5);
  transition-duration: .5s;
}

.profile-options-labels:active {
    color: #215267;
}

table {
  margin: auto;
  width: 60%;
  overflow: auto;
}

table th {
  background-color: #43A5CF;
  color: white;
}

table th, td {
  padding: 1vh 1vw;
}

table tr:nth-of-type(even) {
  background-color: #efefef;
  padding: 1vh 1vw;
}

.dashboard-article {
  min-height: 90vh;
  height: 100%;
}

footer {
  padding: 2vh 1vw;
  text-align: center;
  text-transform: uppercase;
  font-size: .6em;
  border-top: 1px solid #efefef;
}

@media (max-width: 768px) and (orientation: portrait) {
  body {
    font-size: 1em;
  }

  #ladyLiberty {
    background-size: cover;
  }

  .coffee-input-forms {
    font-size: 1.5em;
    width: 90%;
  }

  .coffee-input-form-labels {
    font-size: 1.2em;
    width: 90%;
  }
}
