<section id="consumption">
  <h2>My Coffee Consumption</h2>
  <table>
    <tr>
      <th>date</th>
      <th>beverage</th>
      <th>caffeine</th>
      <th>kcal</th>
      <th>sugar</th>
      <th>fat</th>
      <th>paper cup</th>
      <th><i class="fa fa-trash-o" aria-hidden="true"></i></th>
    </tr>
    <tr ng-repeat="serving in coffeeData.allServings | limitTo:30 track by $index">
      <td>{{serving.date}}</td>
      <td>{{serving.beverage_type}}</td>
      <td>{{serving.caffeine}}</td>
      <td>{{serving.cal}}</td>
      <td>{{serving.sugar}}</td>
      <td>{{serving.fat}}</td>
      <td>{{serving.disposable_cup}}</td>
      <td class='delete' ng-click="allData.deleteServing(serving)">REMOVE</td>
    </tr>
  </table>
</section>
<section id="purchase">
  <h2>My Coffee Purchases</h2>
  <table>
    <tr>
      <th>date</th>
      <th>brand</th>
      <th>price</th>
      <th>rating</th>
      <th>fair trade</th>
      <th><i class="fa fa-trash-o" aria-hidden="true"></i></th>
    </tr>
    <tr ng-repeat="purchase in coffeeData.allPurchases | limitTo:30 track by $index">
      <td>{{purchase.date}}</td>
      <td>{{purchase.brand}}</td>
      <td>{{purchase.price}}</td>
      <td>{{purchase.rating}}</td>
      <td>{{purchase.fair_trade}}</td>
      <td class='delete' ng-click="allData.deletePurchase(purchase)">REMOVE</td>
    </tr>
  </table>
</section>
</section>
