<h2>FAQ</h2>
<h3>Background</h3>
<dl>
  <dt>What is considered a save amount of caffeine per day?</dt>
  <dd>According to the <a href="https://www.fda.gov/ForConsumers/ConsumerUpdates/ucm350570.htm">FDA</a>, it is generally considered save for <em>healthy adults</em>
      to consume up to 400 milligrams of caffeine - 4 to 5 cups of coffee - a day. Some people might be
      more sensitive to caffeine and experience side effects, such as nervouseness,
      even when consuming less caffeine. <a href="http://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/caffeine/art-20045678"><small>Find out more ...</small></a></dd>
  <dt>...</dt>
  <dd>...</dd>
</dl>

<h3>Credits</h3>
 ...
