<h2>FAQ</h2>
<h3>Background</h3>
<dl>
  <dt>What is considered a save amount of caffeine per day?</dt>
  <dd>According to the <a href="https://www.fda.gov/ForConsumers/ConsumerUpdates/ucm350570.htm">FDA</a>, it is generally considered save for <em>healthy adults</em> to consume up to 400
  milligrams of caffeine - 4 to 5 cups of coffee - a day. Some people might be
  more sensitive to caffeine and experience side effects, such as nervouseness,
  even when consuming less caffeine. <a href="http://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/caffeine/art-20045678"><small>Find out more ...</small></a></dd>
  <dt>What is the deal with flavored coffee based beverages?</dt>
  <dd>Many flavored Lattes contain high amounts of sugar. In 2016, the UK based
    Charity 'Action on Sugar' analyzed 131 beverages and found:
    <blockquote cite="http://www.actiononsugar.org/News%20Centre/Surveys%20/2016/170865.html">
      "98% of hot flavoured drinks would receive a ‘red’ (high) label for excessive levels of sugars per serving – with 35% containing the same amount or more sugar than a can of Coca Cola"
    </blockquote>
  </dd>
  <dt>How much sugar is healthy?</dt>
  <dd>The <a href="http://www.who.int/mediacentre/news/releases/2015/sugar-guideline/en/">
    WHO recommends</a> that adults consume no more 25 grams - or 6
    teaspoons - of free sugar per day. This limit applies to added sugar only
    and not to sugar naturally occurring in milk, fruit and vegetables.
  </dd>
  <dt></dt>
  <dd></dd>
</dl>

<h3>Image Credits</h3>
<dt>Header Photo</dt>
<dd>by <a href="https://pixabay.com/en/coffee-coffee-cup-cup-of-coffee-1911764/">PresentationCafe</a> via Pixabay.</dd>
<dt>Coffee Icons</dt>
<dd>by Oliver Pitsch via <a href="https://www.smashingmagazine.com/2016/03/freebie-barista-iconset-50-icons-eps-png-svg/">Smashing Magazine</a></dd>
<dt>Red Statue of Liberty</dt>
<dd>Designed by <a target="_blank" href="https://www.vexels.com/vectors/preview/128622/red-usa-statue-of-liberty">Vexels.com</a></dd>
