<article class="finance-article">
  <h2>My Coffee Spendings</h2>

  <table>
    <tr>
      <th>Beverage</th>
      <th>Your Average</th>
      <th>SCAA Index Price (USA)</th>
    </tr>
    <tr ng-repeat="item in finCtrl.averagePrices">
      <td>{{item.beverage}}</td>
      <td>{{item.userPrice | currency}}</td>
      <td>{{item.indexPrice[0] | currency}} - {{item.indexPrice[1] | currency}}</td>
    </tr>
  </table>
  <br>
  <br>
  <br>
    <section class="chartContainer financeContent">
      <canvas id="bubbleChart"></canvas>
    </section>
</article>
<table>
  <tr>
    <th>type of purchase</th>
    <th>time frame</th>
    <th># of purchases</th>
    <th>average price paid</th>
  </tr>
  <tr>
    <td>by cup</td>
    <td>past month</td>
    <td>{{finCtrl.purchaseStats.past_month.by_cup.count}}</td>
    <td>{{finCtrl.purchaseStats.past_month.by_cup.average_price}}</td>
  </tr>
  <tr>
    <td>by cup</td>
    <td>all time</td>
    <td>{{finCtrl.purchaseStats.total.by_cup.count}}</td>
    <td>{{finCtrl.purchaseStats.total.by_cup.average_price}}</td>
  </tr>
  <tr>
    <td>by bag</td>
    <td>past month</td>
    <td>{{finCtrl.purchaseStats.past_month.by_bag.count}}</td>
    <td>{{finCtrl.purchaseStats.past_month.by_bag.average_price}}</td>
  </tr>
  <tr>
    <td>by bag</td>
    <td>all time</td>
    <td>{{finCtrl.purchaseStats.total.by_bag.count}}</td>
    <td>{{finCtrl.purchaseStats.total.by_bag.average_price}}</td>
  </tr>
</table>
