<!-- <section class="modal"> -->
  <form class="modal-form" id="log-in-modal" ng-submit="ctrl.login(loginData)">
    <i class="fa fa-times" aria-hidden="true" ng-click="ctrl.closeModal('log-in-modal')"></i>
    <fieldset>
      <legend>Log in</legend>
      <label for="username">username</label>
      <input id="username" type="text" ng-model="loginData.username" placeholder="username">
      <br>
      <label for="password">password</label>
      <input id="password" type="password" ng-model="loginData.password" placeholder="password">
      <br>
      <input type="submit" class="submit">
    </fieldset>
    <p>{{loginData.msg}}</p>
  </form>
<!-- </section> -->
