<section>
  <h2>add coffee data </h2>
  <ul class="coffee-input-form-labels">
    <li ng-click="profile.select('tab1')" id="tab1" class="selected">homemade</li>
    <li ng-click="profile.select('tab2')" id="tab2">restaurant prepared</li>
    <li ng-click="profile.select('tab3')" id="tab3">by bag</li>
  </ul>
  <section id="homemade" ng-if="profile.tabs.tab1">
    <form class="coffee-input-forms">
      <fieldset>
        <legend>coffee by cup, homemade</legend>
        <label for="beverage_type">Beverage: </label>
        <select id="beverage_type" name="beverage_type">
          <option value="espresso">espresso (Italian style)</option>
          <option value="cappuccino">cappuccino (Italian style)</option>
          <option value="black coffee">black coffee</option>
          <option value="instant coffee">instant coffee</option>
        </select>
        <label for="dateServing">date:</label>
        <input id="dateServing" type="date" name="date" value="">
        <label for="purchase">from bag</label>
        <select id="purchase" class="" name="">
          <option value="">brand and date</option>
        </select>
        <input type="submit" class="submit">
      </fieldset>
    </form>
  </section>
  <section id="restaurant_prepared" ng-if="profile.tabs.tab2">
    <form class="coffee-input-forms">
      <fieldset>
        <legend>coffee by cup, restaurant prepared</legend>
        <label for="beverage_type">Beverage: </label>
        <select id="beverage_type" name="beverage_type">
          <option value="espresso">espresso (Italian style)</option>
          <option value="cappuccino">cappuccino (Italian style)</option>
          <option value="black coffee">black coffee</option>
          <option value="instant coffee">instant coffee</option>
        </select>
        <label for="dateServing">date:</label>
        <input id="dateServing" type="date" name="date" value="">
        <label for="disposable_cup">disposable cup</label>
        <input type="checkbox" name="" value="">
        <label for="price">price:</label>
        <input id="price" type="number" name="price" min="0" step="0.1" required>
        <label for="brand">brand:</label>
        <input type="text" name="brand" placeholder="brand">
        <label for="rating">rating (0-5):</label>
        <input type="number" name="rating" min="0" max="5">
        <label for="fairtrade">fair trade</label>
        <input id="fairtrade" type="checkbox" name="fairtrade">
        <input type="submit" class="submit">
      </fieldset>
    </form>
  </section>
  <section id="by_bag" ng-if="profile.tabs.tab3">
    <form class="coffee-input-forms">
      <fieldset>
        <legend>coffee by bag</legend>
        <label for="datePurchase">date:</label>
        <input id="datePurchase" type="date" name="date" value="" required>
        <label for="price">price:</label>
        <input id="price" type="number" name="price" min="0" step="0.1" required>
        <label for="brand">brand:</label>
        <input type="text" name="brand" placeholder="brand">
        <label for="rating">rating (0-5):</label>
        <input type="number" name="rating" min="0" max="5">
        <label for="fairtrade">fair trade</label>
        <input id="fairtrade" type="checkbox" name="fairtrade">
        <input type="submit" class="submit">
      </fieldset>
    </form>
  </section>
</section>
