<section class="single">
  <article class="single-article" id="welcome">
    <h1>explore your coffee l<i class="fa fa-heart" aria-hidden="true"></i>ve</h1>
    <a href="#intro" id="arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  </article>
</section>
<section class="single">
  <article class="single-article" id="intro">
    <blockquote>
      "How about coffee? You like coffee?"
      <br>
      - "Only with my oxygen."
      <br>
      <small>Gilmore Girls</small>
    </blockquote>
    <p>You drink coffee? You love coffee? You actually want coffee right now?
      Then you're like me.</p>
    <p>I drink at least two cups of coffee each day. In fact, I was zipping
      coffee for the most of the time while building this site. And as I type
      these lines, I am thinking about getting another coffee. However, I am most
      certainly not a conscious coffee drinker. For example: </p>
    <p>Have you ever wondered ... </p>
  </article>
</section>
<split-screen class="split-screen">
</split-screen>
<section class="single">
  <article class="single-article" id="promt">
    <h2>Want more?</h2>
    <button ng-click="ctrl.openModal('sign-up-modal'); ctrl.wakeUpAPI();">sign up</button>
  </article>
</section>
