<section class="single">
  <article class="single-article" id="welcome">
    <h1>explore your coffee l<i class="fa fa-heart" aria-hidden="true"></i>ve</h1>
    <a href="#first-split-screen-element" id="arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  </article>
</section>
<section class="single">
  <article class="single-article" id="info">
    <blockquote>
      How about coffee? You like coffee?
      <br>
      - Only with my oxygen.
      <br>
      <small>Gilmore Girls</small>
    </blockquote>
    <p>You drink coffee? You love coffee? You actually want coffee right now?
      Then you're like me.</p>
    <p>I drink at least two cups of coffee each day. In fact, I was zipping
      coffee for the most of the time while building this site. And as I type
      these lines, I am thinking about getting another coffee. But: I am most
      certainly not a conscious coffee drinker.</p>
    <p>For example, have you ever wondered ... </p>
  </article>
</section>
<split-screen section class="split-screen" id="first-split-screen-element">
</split-screen>
<section class="single">
  <article class="single-article" id="promt">
    <h1>sign up</h1>
  </article>
</section>
