<section class="statistics">
  <article id="paper-cup-stat">
    <blockquote>Globally, at least 58 billion throwaway cups are used each year, involving more than a million tonnes of paper.
      <p>
        <a href="http://www.environmentalpaper.eu/day-of-action-on-throwaway-cups/">
          <small>Environmental Paper Network</small>
        </a>
      </p>
    </blockquote>
  </article>
</section>
<section class="user-data">
  <article id="cupGraphic">
    <h2>Your annual paper cup tower</h2>
      <div class="">
        <div id="ladyLiberty">
          <span>151 ft</span>
        </div>
        <div id="paperCupTower">
          <span id="paperCupTowerLabel">{{ctrl.paperCupTowerInFt}}</span>
        </div>
      </div>
      <form class="one-line-form" ng-submit="ctrl.getNumOfPaperCupsPerYear()">
        <label for="paper-cups-form">coffee-to-go / week:</label>
        <input ng-model="ctrl.numOfPaperCups" id="paper-cups-form" min="0" max="60" type="number">
        <input type="submit" class="submit">
      </form>
  </article>
</section>
<section class="statistics">
  <article class="">
  </article>
</section>
<section class="user-data">
  <article class="">
  </article>
</section>
