
<section class="statistics">
  <article id="caffeine-limit-answer-field">
    <h2>How much coffee is safe?</h2>
    <p>
      {{ctrl.numOfCupsPerDay}}
      <input ng-mouseup="ctrl.checkLimit();" type="range" ng-model="ctrl.numOfCupsPerDay" min="1" max="6"> cups/day
    </p>
  </article>
</section>
<section class="user-data">
  <article id="caffeine-limit">
      <div class="cup-holder">
        <img ng-repeat="n in ctrl.range | limitTo: ctrl.numOfCupsPerDay" class="coffee-pot" ng-src="../../barista-icon-set/SVG/barista-icons_cup-of-coffee.svg" alt="a cup of coffee">
      </div>
      <p><small>{{ctrl.limitMsg}}</small></p>
  </article>
</section>

<section class="statistics">
  <article id="paper-cup-stat">
    <h2>How much paper cup waste am I producing each year?</h2>
    <form class="one-line-form" ng-submit="ctrl.getNumOfPaperCupsPerYear()">
      <label for="paper-cups-form"># coffee-to-go / week:</label>
      <input ng-model="ctrl.numOfPaperCups" id="paper-cups-form" min="0" max="60" type="number">
      <input type="submit" class="submit">
    </form>
  </article>
</section>
<section class="user-data">
  <article id="cupGraphic">
      <div id="cupGraphicContainer">
        <div id="ladyLiberty">
          <span>151 ft</span>
          <!-- <img src="../img/red-usa-statue-of-liberty-by-Vexels.svg" alt=""> -->
        </div>
        <div id="paperCupTower">
          <span id="paperCupTowerLabel">{{ctrl.paperCupTowerInFt}}*</span>
        </div>
      </div>
      <p>*Height of you annual paper cup tower (calculated for 8 fl oz cups).</p>
  </article>
</section>
